<div class="sidebox widget">
    <h3 class="widget-title section-title">Ara</h3>
    <form class="searchform" action="/Home/Search" method="get">
        <label><i class="icon-search"></i></label>
        <input type="text" id="s2" name="search" placeholder="Ara Belki Bulasın" />
        <button type="submit" class="btn">Bul</button>
    </form>
</div>
